.HeadNavbar{
    background: rgb(0, 7, 61);
    color: white;
}
.a{
    border:1px solid red;
}
.b{
    border:1px solid rgb(72, 255, 0);
}
.HeaderIcons{
    font-size: 22px;
    float: right;
    color: white;
    cursor: pointer;
}
.Header-Text{
    font-size: 19px;
}
.HeaderIcons:hover{
    color:aqua
}
.DropDown-Icons
{
    width:37px;
}
.Currency-Conversion-Items:hover,.Language-Conversion-Items:hover
{
    background-color:aqua
}
.Currency-Conversion-Items
{
 
}
/* Media Queries */
@media screen and (max-width: 580px) {
    .HeaderIcons{
        font-size: 17px;
    }
    .Header-Text{
        font-size: 14px;
    }
  }