@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.navbar {
    font-family: 'Inter', sans-serif;
}

.navbar .navbar-nav .nav-item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    
}

.navbar .navbar-nav .nav-item a:hover{
    color: rgb(255,106,0);
}
/* 
.navbar .navbar-nav .nav-item .dropdown{
    background: transparent;
    border: none;
    font-size: 18px;
} */