@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.cartBtn{
    background: linear-gradient(60deg, rgb(255, 106, 0), rgb(230, 146, 86)) !important;
    padding: 10px;
    font-size: 1.35rem;
}

.cartBtn:hover{
    background: linear-gradient(60deg, rgb(230, 146, 86), rgb(255,106,0)) !important;
}