.a{
    border:1px solid red;
}
.ProductSection
{
    height: 100vh;
}
.AddProductButton{
background-color: #0d6efd;
color:white;
border-radius: 10px;
border:none;
}
input[type='text'],input[type='number']{
    background-color: white;
}
input[type='text']:focus,input[type='number']:focus{
    background-color: #c3ffed66;
}
/* Add Product Section */
.AddProductButton:hover{
    background-color: rgb(0, 81, 255);
}
.AddProductFormLabels{

}
.dropdown-menu{
    border: 1px solid rgb(0, 4, 255);
}
.AddProductDropDownItems{
cursor: pointer;
}
.AddProductDropDownItems:hover{
    background-color: rgb(1, 58, 145);
    font-weight: 700;
    color: white;
}
.GenderTypeButton,.AddProductTypeButton{
    background-color: #dfdfdf;
    color: black;
}
textarea.form-control {
    min-height: calc(1.5em + 10.75rem + 2px);
    background-color: white;
}
.form-select:focus{
    border: none;outline: none;
}
.QuantityInput{
    border: none;
    background-color: white;
}
.ColorInput{
    border: none;
    background-color: white;  
}
/* Remove arrows in nput number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkboxInput{
}

/*  2D Images Upload Section */
input[type="file"]
{
    display: none;
}
.UploadImagesButton,.ThumbnailButton{
    border-radius: 15px;
    color: white !important;
    background-color: #0400ff  !important;
    border: none;
    outline: none;
}
.UploadImagesButton:hover{
    border-radius: 15px;
    color: white !important;;
    border: none;
    outline: none;
    background-color: #0401bb  !important;
}
.ThumbnailButton:hover{
    border-radius: 15px;
    color: white !important;;
    border: none;
    outline: none;
    background-color: #0401bb  !important;
}
.CloseButton{
    top:10px;
    left:240px;
    width:24px;
    height:24px;
    cursor: pointer;
   
}

.image_container{
    height:120%;
    width:200px;
    border-radius:10px;
    overflow:hidden;
} 
.image_container img{
    height:100%;
    width:auto;
    object-fit: cover;
}
.CloseButton{
    top:-6px;
    right:8px;
    color:rgb(255, 255, 255);
    border-radius: 12px;
    font-size:28px;
    background-color: red;
    font-weight:normal;
    cursor: pointer;
    }

