.SignUpContainer{
    background-color: aliceblue;
    border: 1px solid aliceblue;
}
.SignUpImage{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.SignIn-Link{
    color: var(--bs-link-color);
    text-decoration: underline;
    cursor: pointer;
}
h1:hover{
    cursor: pointer;
}
