.b{
    border:5px solid rgb(0, 81, 255);
}

.Admin-Inputs{
    width: fit-content;
}
.SignInHeading{
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
}
.ForgetPassword{

}