.a{
    border:1px solid red;
}

.b{
    border:11px solid rgb(0, 81, 255);
}
.BackGround{
    /* background-color: rgb(1, 29, 53);; */
    background-image: url('../../../public/Images/SignIn/BackgroundImage.jpg');
    
  /* Full height */
  height: 100vh;


}
.SignInBox{
    border:1px solid grey;
   
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px 4px rgb(9, 3, 99);
    border-radius: 20px;
}
.Inner-Section{
    height: 100%;
}
.RightSection{

}
.LeftSection{

}