.Logo{
    height: 25px;
    width: 25px;
}
.BannerTitle{
    font-size: 20px;
    font-weight: bold;
}
.ToogleButton{
    font-size: 26px;
}
.SideNavbar{
    height: 100vh;
    position: fixed;
}
.SideBarItems{
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.SideBarItems:hover {
border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
 
}
.SideBarItems:hover .SideBarItemsIcons, .SideBarItems:hover .SideBarItemsText{
 color:aqua;
}
.SideBarBannerSection{
 
}
.SideBarItemsIcons{
    font-size: 20px;
}

.SideBarItemsText{
    font-size: 17px;
    text-decoration: none;
}
.BodySection{
    width: 100%;
   
}
.mainSection{
    height: 100%;
}
.Header{
    height: 51px;
}
.Open{
    margin-left: 228px;
}
.Close{
    margin-left: 58px;;
}